{% extends 'base.html' %}
{% block title %}资产管理 - 人员列表{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    用户信息管理
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-inline">
                <form action="">
                    <input type="text" class="form-control search-query" name="search" placeholder="键入用户名">
                    <button type="submit" class="btn btn-purple btn-sm">
                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                        搜索
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="pull-right tableTools-container">
                {% if request.user.is_superuser == 1 %}
                    <button type="submit" class="btn btn-info btn-sm" id="btn_add">
                        <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span>
                        添加人员
                    </button>
                {% endif %}
{#                <button type="submit" class="btn btn-purple btn-sm" id="btn_export_list">#}
{#                    <span class="ace-icon fa fa-bar-chart-o bigger-110"></span>#}
{#                    导出Excel#}
{#                </button>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 center">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">部门</th>
                    <th class="text-center">手机号码</th>
                    <!-- <th class="text-center">邮箱</th> -->
                    <th class="text-center">是否为管理员</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in p_users.object_list %}
                    <tr>
                        <td>{{ forloop.counter|add:start }}</td>
                        <td><a href="{% url 'users:user_detail' user.id %}">{{ user.username }}</a></td>
                        <td>{{ user.department }}</td>
                        <td>{{ user.bg_telephone }}</td>
                        <!-- <td>{{ user.email }}</td> -->
                        <td>{{ user.get_isadmin_display }}</td>
                        <td class="center">
                            <a href="{% url 'users:user_delete' user.id %}">
                                <button class="btn btn-minier btn-danger" onclick="return isDel()"> 删除</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="pagination">
                {% if p_users.has_previous %}
                    <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0"
                        id="dynamic-table_previous">
                        <a href="?{{ p_users.previous_page_number.querystring }}">上页</a>
                    </li>
                {% endif %}
                {% for page in p_users.pages %}
                    {% if page %}
                        {% ifequal page p_users.number %}
                            <li class="paginate_button active">
                                <a href="?{{ page.querystring }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="paginate_button">
                                <a href="?{{ page.querystring }}">{{ page }}</a>
                            </li>
                        {% endifequal %}
                    {% else %}
                    {% endif %}
                {% endfor %}
                {% if p_users.has_next %}
                    <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
                        <a href="?{{ p_users.next_page_number.querystring }}">下页</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        var btn_person_add = document.getElementById("btn_add");
        btn_person_add.onclick = function () {
            location.href = "{% url 'users:user_add' %}";
        };

        function isDel() {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }

        {#var btn_export_list = document.getElementById("btn_export_list");#}
        {#btn_export_list.onclick = function () {#}
        {#    var search = document.getElementById("search").value;#}
        {#    var url = "{% url 'users:user_export' %}";#}
        {#    location.href = url + '?search=' + search;#}
    </script>
{% endblock %}