{% extends 'base.html' %}
{% block title %}部门修改 - 资产管理{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    部门修改
                </h1>
            </div>
        </div>
    </div>

    <div class="container  center">
        <div class="space-30"></div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-5">
                <div class="widget-box">


                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <form action="{% url 'users:dp_modify' dp.id %}" method="post">
                                <!-- <legend>Form</legend> -->
                                <fieldset>
                                    <label>部门修改</label>
                                    <input type="hidden" name="dp_id" value="{{ dp.id }}"/>
                                    <input type="text" name="dp_name" value="{{ dp.dp_name }}"
                                           placeholder="请输入...">
                                </fieldset>
                                {% if error_msg %}
                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            {{ error_msg }}
														</span>
                                    </label>
                                {% endif %}

                                <div class="form-actions center">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        提交
                                    </button>
                                    <button type="button" class="btn btn-sm btn-failed" onclick="btn_cancel()">
                                        取消
                                    </button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>









    {#    <div class="content">#}
    {#        <p class="content-note1">修改资产类型<span class="content-note2"> (标注为*为必填项)</span></p>#}
    {#        <div style="clear:both"></div>#}
    {#        <form class="form-table" action="{% url 'asset:type_modify' %}" method="post">#}
    {##}
    {#            <input type="hidden" id="type_id" name="type_id" value="{{ server_type.id }}"/>#}
    {#            <div class="form-list">#}
    {#                <span>*资产类型</span>#}
    {#                <input {% if servertype_form.errors.zctype %}class="input-error"{% endif %} type="text" name="asset_type"#}
    {#                       value="{{ server_type.zctype }}" placeholder="不超过20个字符"/>#}
    {#            </div>#}
    {#            {% if msg %}#}
    {#                <div class="error">{{ msg }}</div>#}
    {#            {% endif %}#}
    {#            <div style="clear:both"></div>#}
    {#            <div class="form-list">#}
    {#                <input class="form-button" type="submit" value="保存"/>#}
    {#            </div>#}
    {#            <div class="form-list">#}
    {#                <button class="form-button" type="button" onclick="btn_cancel()">取消</button>#}
    {#            </div>#}
    {#            {% csrf_token %}#}
    {#        </form>#}
    {#    </div>#}





{% endblock %}

{% block script %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'users:dp_list' %}";
        }
    </script>
{% endblock %}
