{% extends 'base.html' %}
{% block css %}
    <style>
        .row-centered {
            text-align: center;
        }

        .col-centered {
            display: inline-block;
            float: none;
            text-align: left;
        }
    </style>
{% endblock %}
{% block title %}人员详情 - 资产管理{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    用户详情信息
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="space-30"></div>
        <div class="row row-centered">
            <div class="col-sm-6 jumbotron col-centered">
                <!-- <div class="col-sm-8 col-md-12"> -->
                <form action="{% url 'users:user_modify' %}" method="post">
                    <div class="form-group">
                        <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}"/>
                    </div>
                    {% if request.user.is_superuser == 1 %}
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">部门</span>
                            <select name="user_dep">
                                {% for sec in sections %}
                                    <option value="{{ sec.id }}"
                                            {% ifequal sec.id user.department_id %}selected{% endifequal %}>{{ sec.dp_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">部门</span>
                            <input type="text" class="form-control"
                                   value="{{ user.department }}" aria-describedby="basic-addon1" disabled>
                        </div>
                    {% endif %}
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">姓名</span>
                        {% if request.user.is_superuser == 1 %}
                            <input type="text" class="form-control" name="username" id="username"
                                   value="{{ user.username }}" aria-describedby="basic-addon1">
                        {% else %}
                            <input type="text" class="form-control" name="username" id="username"
                                   value="{{ user.username }}" aria-describedby="basic-addon1" disabled>
                        {% endif %}
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">手机</span>
                        <input type="text" class="form-control" name="bg_telephone" value="{{ user.bg_telephone }}"
                               aria-describedby=basic-addon1">
                    </div>
                    <br>
                    <!-- <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">邮箱</span>
                        <input type="email" class="form-control" name="email" value="{{ user.email }}"
                               placeholder="Username" aria-describedby="basic-addon1">
                    </div> -->
                    <br>
                    {% if request.user.is_superuser == 1 %}
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">管理员</span>
                            <select name="isadmin">
                                <option value="1" {% ifequal user.isadmin '1' %}selected{% endifequal %}>是
                                </option>
                                <option value="0" {% ifequal user.isadmin '0' %}selected{% endifequal %}>否
                                </option>
                            </select>
                        </div>
                    {% else %}
                        <input type="hidden" name="isadmin" value="{{ user.isadmin }}"/>
                    {% endif %}
                    <div class="input-group">
                        {% if message %}
                            {{ message }}
                        {% endif %}
                    </div>
                    {% if msg %}
                        <div class="col-sm-10 input-group">
                            <span>{{ msg }}</span>
                        </div>
                    {% endif %}
                    <div class="form-actions center">
                        <button type="submit" class="btn btn-sm btn-success">
                            提交修改
                        </button>
                        {% if request.user.is_superuser == 1 %}
                            <button type="button" class="btn btn-sm btn-failed" onclick="btn_pwdreset()">
                                重置密码
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="btn_delete()">
                                删除
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-sm btn-failed" onclick="btn_cancel()">
                            取消
                        </button>
                    </div>
                    {% csrf_token %}
                </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'users:user_list' %}";
        }

        function btn_delete() {
            var user_id = document.getElementById("user_id").value;
            var username = document.getElementById("username").value;
            var url = "{% url 'users:user_delete' 0 %}";
            var conf = confirm("确定删掉用户 " + username + " ？");
            if (conf) {
                location.href = url.replace('0', user_id);
            }
        }

        function btn_pwdreset() {
            var user_id = document.getElementById("user_id").value;
            var username = document.getElementById("username").value;
            var url = "{% url 'users:user_pwdreset' 0 %}";
            var conf = confirm("确定重置 " + username + " 密码？");
            if (conf) {
                location.href = url.replace('0', user_id);
            }
        }
    </script>
{% endblock %}