{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<style>
    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: none;
        text-align: left;
    }
</style>
<link rel="stylesheet" href="{% static 'asset/css/bootstrap-datepicker.css' %}">
{% endblock %}
{% block title %}添加资产 - 资产管理{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                资产新增
            </h1>
        </div>
    </div>
</div>
<div class="container  center">
    <!-- <div class="space-20"></div> -->
    <div class="row row-centered">
        <div class="col-sm-6 card jumbotron col-centered">
            <!-- <div class="space-10"></div> -->
            <form action="{% url 'asset:asset_add' %}" method="post">
                <div class="input-group">
                    <input type="hidden" name="asset_holder" class="col-xs-10 col-sm-5" value="{{ request.user.id }}">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">资产所属人</span>
                    <input type="text" readonly="" class="form-control disabled" aria-describedby="basic-addon1"
                        value="{{ request.user }}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">资产类别</span>
                    <select name="asset_type" aria-controls="dynamic-table" class="form-control col-xs-10 col-sm-5">
                        {% for asset_type in assets_types %}
                        <option name="asset_type" value="{{ asset_type.id }}">
                            {% if asset_type.parent_category %}
                            {{ asset_type.parent_category }} -
                            {{ asset_type }}
                            {% else %}
                            {{ asset_type }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        资产状态</span>
                    <select name="asset_status" aria-controls="dynamic-table" class="form-control col-xs-10 col-sm-5">
                        {% for status in asset_status %}
                        <option name="asset_status" value="{{ status.id }}">{{ status.get_asset_status_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        所属部门</span>
                    <select name="asset_dep" aria-controls="dynamic-table" class="form-control col-xs-10 col-sm-5">
                        {% for dep in asset_deps %}
                        <option value="{{ dep.id }}">{{ dep.dp_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        资产名称</span>
                    <input type="text" id="form-field-1" name="asset_name" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        资产型号</span>
                    <input type="text" id="form-field-1" name="asset_model" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        规格</span>
                    <input type="text" id="form-field-1" name="specification" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        数量</span>
                    <input type="text" id="form-field-1" name="quantity" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        制造商</span>
                    <input type="text" id="form-field-1" name="manufacture" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        计算机/服务器机箱类型</span>
                    <input type="text" id="form-field-1" name="server_type" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        功率</span>
                    <input type="text" id="form-field-1" name="power" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        采购时间</span>
                    <input type="date" id="date" name="purchase_time" class="form-control col-xs-10 col-sm-5">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        备注</span>
                    <input type="text" id="form-field-1" name="comment" class="form-control col-xs-10 col-sm-5">
                </div>
                <div class="form-actions center">
                    <button type="submit" class="btn btn-sm btn-success">
                        提交
                    </button>
                    <button type="button" class="btn btn-sm btn-failed" onclick="btn_cancel()">
                        取消
                    </button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function btn_cancel() {
        location.href = "{% url 'asset:asset_list' %}";
    }
</script>
{% endblock %}