{% extends 'base.html' %}
{% block css %}
<style>
    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: none;
        text-align: left;
    }
</style>
{% endblock %}
{% block title %}资产详细信息 - 资产管理{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                资产详细信息
            </h1>
        </div>
    </div>
</div>
<div class="container  center">
    <div class="space-20"></div>
    <div class="row row-centered">
        <div class="col-sm-8 card col-centered">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 资产所属人 </div>
                    <div class="profile-info-value">
                        <span>{{ asset.asset_holder }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 资产类别 </div>

                    <div class="profile-info-value">
                        <span id="country">
                            {% if asset.asset_type.parent_category %}
                            {{ asset.asset_type.parent_category }} -
                            {{ asset.asset_type }}
                            {% else %}
                            {{ asset.asset_type }}
                            {% endif %}
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 资产状态 </div>

                    <div class="profile-info-value">
                        <span id="age">{{ asset.asset_status }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 所属部门 </div>

                    <div class="profile-info-value">
                        <span id="signup">{{ asset.asset_dep }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 资产名称 </div>

                    <div class="profile-info-value">
                        <span id="login">{{ asset.asset_name }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 资产型号 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.asset_model }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 资产数量 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.quantity }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 采购时间 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.purchase_time }}</span>
                    </div>
                </div>
                {% if asset.power != 'None' %}
                <div class="profile-info-row">
                    <div class="profile-info-name"> 功率 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.power }}</span>
                    </div>
                </div>
                {% endif %}
                {% if asset.power != 'None' %}
                <div class="profile-info-row">
                    <div class="profile-info-name"> 机箱类型 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.server_type }}</span>
                    </div>
                </div>
                {% endif %}

                <div class="profile-info-row">
                    <div class="profile-info-name"> 生产商 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.manufacture }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 标识码 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.asset_uuid }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 规格 </div>

                    <div class="profile-info-value">
                        <span id="about">{{ asset.specification }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 备注 </div>

                    <div class="profile-info-value">
                        <span>{{ asset.asset_comment }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 最后修改时间 </div>

                    <div class="profile-info-value">
                        <span>{{ asset.modify_time }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 二维码 </div>

                    <div class="profile-info-value">
                        <span>
                            <div class="input-group" style="margin-left: auto;margin-right: auto">
                                <!--startprint-->
                                <img src="data:image/png;base64,{{ as_qrcode|safe }}" id="qrcode">
                                <!--endprint-->
                                <button type="button" class="btn btn-sm btn-info" onClick="download();">
                                    打印二维码
                                </button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                资产历史信息
            </h1>
        </div>
    </div>
</div>

{% if assets_history %}
<div class="row row-centered">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thin-border-bottom">
            <tr>
                <th>
                    操作对象
                </th>
                <th>
                    名称
                </th>
                <th>
                    类别
                </th>
                <th>
                    型号
                </th>
                <th>
                    参数
                </th>
                <th>
                    所有人
                </th>
                <th>
                    状态
                </th>
                <th>
                    部门
                </th>
                <th>
                    购买时间
                </th>
                <th>
                    备注
                </th>
                <th>
                    修改时间
                </th>
            </tr>
        </thead>

        <tbody>
            {% for as_his in assets_history %}
            <tr>
                <td>
                    {{as_his.modify_operation}}
                </td>
                <td>
                    {{as_his.asset_name}}
                </td>
                <td>
                    {{as_his.asset_type}}
                </td>
                <td>
                    {{as_his.asset_model}}
                </td>
                <td>
                    {{as_his.specification}}
                </td>
                <td>
                    {{as_his.asset_holder}}
                </td>
                <td>
                    {{as_his.asset_status}}
                </td>
                <td>
                    {{as_his.asset_dep}}
                </td>
                <td>
                    {{as_his.purchase_time}}
                </td>
                <td>
                    {{as_his.comment}}
                </td>
                <td>
                    {{as_his.modify_time}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                资产维修信息
            </h1>
        </div>
    </div>
</div>
{% else %}
{% endif %}

{% if assets_maintenance %}
<div class="row row-centered">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thin-border-bottom">
            <tr>
                <th>
                    序号
                </th>
                <th>
                    维修信息
                </th>
                <th>
                    维修时间
                </th>
            </tr>
        </thead>

        <tbody>
            {% for as_m in assets_maintenance %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{as_m.maintenance_info}}
                </td>
                <td>
                    {{as_m.date}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
{% endif %}




{% endblock %}
{% block script %}
<script>
    function download() {
        location.href = "{% url 'asset:asset_qrcode' asset.asset_id %}";
    }
    function print() {
        bdhtml = window.document.body.innerHTML;
        sprnstr = "<!--startprint-->";
        eprnstr = "<!--endprint-->";
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML = prnhtml;
        if (getExplorer() == "IE") {
            pagesetup_null();
        }
        window.print();
    }
</script>
{% endblock %}