{% extends 'base.html' %}
{% block title %}资产维修管理 - 资产管理{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                资产维修
            </h1>
        </div>
    </div>
</div>
<div class="row">
    {% if request.user.is_superuser == 1 or request.user.isadmin == '1' %}
    <div class="col-xs-4">
        <div class="form-inline  tableTools-container">
            <form action="">
                <input type="text" class="form-control search-query" name="search" placeholder="键入查询关键字">
                <button type="submit" class="btn btn-purple btn-sm">
                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                    搜索
                </button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-sm-12 center">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">序号</th>
                    <th class="center">名称</th>
                    <th class="center">类别</th>
                    <th class="center">型号</th>
                    <th class="center">规格参数</th>
                    <th class="center">状态</th>
                    <th class="center">所有人</th>
                    <th class="center">所属部门</th>
                    <th class="center">采购时间</th>
                    <th class="center">备注</th>
                    <th class="center">修改时间</th>
                    <!-- <th class="center">操作</th> -->
                </tr>
            </thead>
            <tbody>
                {% for asset in p_assets.object_list %}
                <tr>
                    <td class="center" id="as_index">{{ forloop.counter }}</td>

                    <td class="center">
                        {% if request.user.isadmin == '1' or request.user.is_superuser == 1 %}
                        <a href="{% url 'asset:asset_maintenance_detail' asset.asset_id %}">
                            {{ asset.asset_name }}
                        </a>
                        {% else %}
                        {{ asset.asset_name }}
                        {% endif %}
                    </td>
                    <input type="hidden" value="{{ asset.asset_id }}" id="as_id">
                    <td class="center">{{ asset.asset_type }}</td>
                    <td class="center">{{ asset.asset_model }} </td>
                    <td class="center">{{ asset.specification }}</td>
                    <td class="center">{{ asset.asset_status }}</td>
                    <td class="center">{{ asset.asset_holder }}</td>
                    <td class="center">{{ asset.asset_dep }}</td>
                    <td class="center">{{ asset.purchase_time }}</td>
                    <td class="center">{{ asset.comment }}</td>
                    <td class="center">{{ asset.modify_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {% if p_assets.has_previous %}
            <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                <a href="?{{ p_assets.previous_page_number.querystring }}">上页</a>
            </li>
            {% endif %}
            {# <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0"><a href="#">1</a></li>#}
            {# <li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">2</a></li>#}
            {# <li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">3</a></li>#}
            {% for page in p_assets.pages %}
            {% if page %}
            {% ifequal page p_assets.number %}
            <li class="paginate_button active">
                <a href="?{{ page.querystring }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="paginate_button ">
                <a href="?{{ page.querystring }}">{{ page }}</a>
            </li>
            {% endifequal %}
            {% else %}
            {% endif %}
            {% endfor %}
            {% if p_assets.has_next %}
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
                <a href="?{{ p_assets.next_page_number.querystring }}">下页</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}