{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}资产类别管理- 资产管理{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                资产类别管理
            </h1>
        </div>
    </div>
</div>


<div class="container">

    <div class="clearfix">

        <div class="pull-right tableTools-container">
            <button id="add-type" type="button" class="btn btn-info btn-sm">
                <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span>
                新增
            </button>
        </div>

        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">类别名</th>
                    <th class="center">类别等级</th>
                    <th class="center">父类别</th>
                    <th class="center">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for type in assets_types %}
                <tr>
                    <td class="center">{{ type.asset_type }}</td>
                    <td class="center">{{ type.category_type }}</td>
                    <td class="center">
                        {% if type.parent_category %}
                        {{ type.parent_category.asset_type }}
                        {% else %}
                        无
                        {% endif %}
                    </td>
                    <td class="center">
                        <a href="{% url 'asset:type_detail' type.id %}">
                            <button class="btn btn-minier btn-info">修改</button>
                        </a>
                        <a href="{% url 'asset:type_delete' type.id %}">
                            <button class="btn btn-minier btn-danger" onclick="return isDel()">删除</button>
                        </a>
                    </td>
                </tr>
                <script>
                    function del() {
                        var msg = "您真的确定要删除吗？\n\n请确认！";
                        if (confirm(msg) == true) {
                            location.href = "{% url 'asset:type_delete' type.id %}";
                        } else {

                        }
                    }
                </script>

                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
{% block script %}
<script>
    var btn_server_add = document.getElementById("add-type");
    btn_server_add.onclick = function () {
        location.href = "{% url 'asset:type_add' %}";
    };

    function isDel() {
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
{% endblock %}